body
{
    font-family:'Comic Neue', cursive ;
}

.lateral 
{
    transition: box-shadow 1s ,transform 1s;
    transform: scale(1.01);
    border-radius: 10px;
    display: flex;
    margin-top: 15px;
}
.body_index {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: #e5e5e5;
    
}

.main_index
{
    display: flex;
    flex-direction: row;
    width: 100vw;
	height: 78vh;
}

.col-3 .col-8{
    margin: 0;
}

.section_header {
    min-height: 150px;
    width: 100%;
    background-color: #acc9e7;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.p_asso_transat {
    vertical-align: middle;
    font-size: 450%;
    font-family: 'Amatic SC', cursive;
}

.logo {
    width: 9%;
}

.header {
    min-height: 50px;
    background-color: #e5dcf1;
    font-size: 20px;
}

.nav_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
}
.a_header {
    text-decoration: none;
    color: #551A8B;
}

.a_header:hover
{
    text-decoration: none;
    color: #551A8B;
}

#datatransat
{
    position: absolute;
    width: 100%;
    background-color: #ccc4c58a;
    
    width: 12%;
}

.footer {
    
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img_footer {
    width: 50%;
}

.nav {
    position: relative;
    background-color: #acc9e7 ;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50px;
}



#new_index
{
    text-align: center;
}

.agencement {
    display: flex;
    flex-direction: row;
    height: 50vh;
}




/*PRE-INDEX*/

.button_valider
{
    margin-left: 250px;
    margin-top: 50px;
}

#pre_index_div_img
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pre_index_div_form
{
    display: flex;
    flex-direction: column;
    margin-left: 250px; 
}

.flex_pre_index
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.body_pre_index
{
    font-family: 'Comic Neue', cursive; 
}

/*INDEX*/
.container-fluid 
{
    padding: 0;
    background-color: #e5e5e5;
}
#contSlid
{
    margin-top: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.slideshow {
    width: 70.5rem;
    height: 40rem;
    overflow: hidden;
    border: 3px solid #F2F2F2;
    align-items: center;
    margin-top: 10px;
    /*position:absolute;*/
    border-radius: 20px;
    left: 30%;
    top: 27%;
 
 }
 
 .slideshow ul {
     /* 4 images donc 4 x 100% */
    width: 400%;
    height: 200px;
    padding:0; margin:0;
    list-style: none;
 }
 .slideshow li {
    float: left;
 }

 .img_slideshow
 {
     width: 70.5rem;
     height: 50rem;
 }

.newletters_index
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25rem;
    max-height: 60rem;
    background-color: #acc9e7;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 60px;
    border-radius: 20px;
    transition: box-shadow 1s ,transform 1s; 
    
    
}

#h1_acceuil_agenda
{
    text-align: center;
    font-family: 'Amatic SC', cursive;

}

#h1_acceuil_newsletters
{
    font-family: 'Amatic SC', cursive;
    text-align: center;
    margin-top: 10%;
}

#h2_acceuil_conseille
{
    font-family: 'Amatic SC', cursive;
    text-align: center;
}
}
.newletters_index:hover
{
    box-shadow: 2px 2px 10px black; 
}

.entete 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ulent
{
    width: 100%;
}
.ulent li
{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}


.index_flex
{
    display: flex;
    flex-direction: row;
}

#flex_planning_news_index
{
    display: flex;
    flex-direction: column;
}

#img_flyer
{
    width: 50vw;
}

#div_flyer_index
{
    margin-top: 50px;
}

.color_search {
    color: #551A8B;
    border-color: #551A8B;
}

.color_search:hover
{
    background-color: #551A8B;
}

.form_recherche_header
{
    margin-bottom: 0.5rem;
}

.flyer_texte_index
{
    display: flex;
    flex-direction: column;
}

.carousel-control-next
{
    margin-right: 15rem;
}

/*planning-index*/
#newsplan #planbutt
{
    display: none;
}
#newsplan .pasindex
{
    display: none;
}
#newsplan table
{
}
#newsplan tr
{
    
}
#newsplan td
{
    
}

#main_planning
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-ev
{
    width: 20%;
}
table.planning_transat {
    text-align: center;
    border-collapse: collapse;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 100%;
   
 
  }

  table.planning_transat td, table.planning_transat th {
    border: 1px solid #e5dcf1;
    
    
  }
  table.planning_transat tbody td {
    font-size: 15px;
    font-weight: bold;
    background: #acc9e7 ;
    
    
  }

  table.planning_tansat tbody.planh
  {
    font-size: 15px;
    font-weight: bold;
    color: black;
    background: #e5dcf1;
  }


  table.planning_transat thead {
    background: #e5dcf1;
    border-bottom: 10px solid #e5dcf1;
  }
  table.planning_transat thead th {
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    border-left: 2px solid #e5dcf1;
  }

#plan
{
    width:100%;
}
.caseplan
{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.caseplan > p
{
  
}
.rdv
{
   
}
.cel-cal
{
    width: 8vw;
    height: 10vh;
}
.flex_calendrier_transat
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
    .flex_calendrier_transat {
      display:flex;
      flex-direction: column;
    }
  }

.h1_calendrier_transat
{
    font-family: 'Amatic SC', cursive;
}



.tableau_button_transat
{
    margin-top: 1rem;
}

.fich-ev
{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    border: solid black 6px;
    z-index: 1000;
}


.rdv
{
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}
.rdv>p
{
    margin: 0;
}
.ret-plan
{
    background: #e5dcf1 ;
    
}
  
#annee_transat
{
    
}


.button_flex_planning

{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button_precedent

{
 margin-top: 1rem;
 background: #acc9e7;

}

.button_suivant

{
    margin-left: 5rem;
    margin-top: 1rem;
    background: #e5dcf1 ;
    

}




  
  