
body
{
    font-family:'Comic Neue', cursive ;
}

.lateral 
{
    transition: box-shadow 1s ,transform 1s;
    transform: scale(1.01);
    border-radius: 10px;
    display: flex;
    margin-top: 15px;
}
.body_index {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    
}

.main_index
{
    display: flex;
    flex-direction: row;
    width: 100vw;
	height: 78vh;
}

.col-3 .col-8{
    margin: 0;
}

.section_header {
    min-height: 150px;
    width: 100%;
    background-color: #acc9e7;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.p_asso_transat {
    vertical-align: middle;
    font-size: 300%;
}

.logo {
    width: 9%;
}

.header {
    min-height: 50px;
    background-color: #e5dcf1;
    font-size: 20px;
}

.nav_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
}
.a_header {
    text-decoration: none;
    color: #551A8B;
}

.a_header:hover
{
    text-decoration: none;
    color: #551A8B;
}


.footer {
    
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img_footer {
    width: 50%;
}

.nav {
    position: relative;
    background-color: #acc9e7 ;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50px;
}



#new_index
{
    text-align: center;
}

.agencement {
    display: flex;
    flex-direction: row;
    height: 50vh;
}

.entete {
    
    text-align: center;
    height: 60vh;
}


/*PRE-INDEX*/

.button_valider
{
    margin-left: 250px;
    margin-top: 50px;
}

#pre_index_div_img
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pre_index_div_form
{
    display: flex;
    flex-direction: column;
    margin-left: 250px; 
}

.flex_pre_index
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.body_pre_index
{
    font-family: 'Comic Neue', cursive; 
}

/*INDEX*/

.img_carousel_index
{
 width: 50vw;
 height: 60vh;
 border-radius: 20px;
}

#carouselExampleControls
{
    
    width: 80vw;
    height: 60vh;
    margin-top: 10px;
}

.carousel-item
{
    width: 900px ;
}

.carousel_flyer
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 70vh;
}

.newletters_index
{
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 37.5rem;
    background-color: #acc9e7;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 60px;
    border-radius: 20px;
    text-shadow: ;
}

.newletters_index:hover
{
    box-shadow: 2px 2px 10px black; 
}

.index_flex
{
    display: flex;
    flex-direction: row;
}

#flex_planning_news_index
{
    display: flex;
    flex-direction: column;
}

#img_flyer
{
    width: 50vw;
}

#div_flyer_index
{
    margin-top: 50px;
}

.color_search {
    color: #551A8B;
    border-color: #551A8B;
}

.color_search:hover
{
    background-color: #551A8B;
}

.form_recherche_header
{
    margin-bottom: 0.5rem;
}

.flyer_texte_index
{
    display: flex;
    flex-direction: column;
}

.carousel-control-next
{
    margin-right: 15rem;
}

/*planning-index*/
#newsplan #planbutt
{
    display: none;
}
#newsplan .pasindex
{
    display: none;
}
#newsplan table
{
    width: 100%;
}
#newsplan tr
{
    display: flex;
    justify-content: space-between;
}
#newsplan td
{

}

#main_planning
{
    display: flex;
    justify-content: center;
    align-items: center;
}



table.planning_transat {
    
    
    width: 400px;
    text-align: center;
    border-collapse: collapse;
 
  }

  table.planning_transat td, table.planning_transat th {
    border: 1px solid #e5dcf1;
    padding: 5px 10px;
    
    
  }
  table.planning_transat tbody td {
    font-size: 15px;
    font-weight: bold;
    background: #acc9e7 ;
    
    
  }

  table.planning_tansat tbody.planh
  {
    font-size: 15px;
    font-weight: bold;
    color: black;
    background: #e5dcf1;
  }


  table.planning_transat thead {
    background: #e5dcf1;
    border-bottom: 10px solid #e5dcf1;
  }
  table.planning_transat thead th {
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;button_precedent
    border-left: 2px solid #e5dcf1;
  }
  

.button_flex_planning

{
    display: flex;
    flex-direction: row;
}

.button_precedent

{
 margin-top: 1rem;
}

.button_suivant

{
    margin-left: 5rem;
    margin-top: 1rem;
}




  
  